services:
  postgres:
    image: postgres:16-alpine
    restart: always
    hostname: ${POSTGRES_HOST}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./scripts/init-databases.sql:/docker-entrypoint-initdb.d/postgres_init.sql
    networks:
      - oms-network
networks:
  oms-network:
    driver: bridge
    name: oms-network

volumes:
  postgres:
